


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="../../style.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../../materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="../../materialize.min.js"></script>


    <title>MARIO-CHAT</title>
  </head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <body>
    <!-- <p id='name'>Name:<%=name1%></p> -->
    <div id='user-window'>

    </div>
  <div id='mario-chat'>
    <div id='chat-window'>
      <div id='output'>  </div>
      <div id='feedback'>  </div>

    </div>
    <input type="text" id="handle" placeholder="enter handle" disabled value='<%= name1%>'>
    <input type="text" id="message" placeholder="enter message" value="">
    <button type="button" class="btn waves-effect waves-dark" id="send" onclick='send()'>SEND</button>
  </div>
  <a class="waves-effect waves-light btn-small" onclick="leave('<%=name2%>',null)">LOGOUT</a>

<script>
//name1=this user
//name2=other user
var socket=io.connect('http://localhost:3000/');
var handle=document.getElementById('handle');
var message=document.getElementById('message');
var output=document.getElementById('output');
var feedback=document.getElementById('feedback');
//req event emitter
// socket.emit('req',{
//   //name2:other user
//   //name1:this user
//   name1:"<%=name1%>",
//   name2:"<%=name2%>"
// });


socket.emit('change',{status:1,name:"<%=name1%>"});

//message when send button is clicked
socket.on('chat',(data)=>{
  feedback.innerHTML="";
  output.innerHTML+="<p><strong>"+data.handle+":</strong>"+data.message+"</p>";
});


//typing event emitter
message.addEventListener('keypress',function(){
  socket.emit('typing',{value:handle.value,name:"<%=name2%>"});
});
//
//eventHandler for typing
socket.on('typing',(data)=>{
  console.log(data);
  feedback.innerHTML="<p><em>"+data.value+" is typing a message...</em></p>";
});



socket.on('req',(data)=>{
  var ok=window.confirm(data.msg);
  if(ok){
      //name2:
      //sending ack for req
      socket.emit("ack",{name1:"<%=name1%>",name2:data.name});
      // socket.emit('logout',{name2 :"<%=name2%>",name1:"<%=name1%>"});
      // window.location.href="/test/<%=name1%>/"+data.name;
      leave("<%=name2%>",data.name);
        }


});
    socket.on('logout',(data)=>{
      feedback.innerHTML+="<p>"+data.name1+" is logged out....</p>";
    });
    function send(){

    //chat event
    socket.emit('chat',{
      message:message.value,
      handle:handle.value,
      //name of reciever
      name:"<%=name2%>"
    })
    }
    function leave(reciever,reciever2){

    socket.emit('logout',{name1:"<%=name1%>",name2:"<%=name2%>"});
    if(reciever2){
    window.location.href="/test/<%=name1%>/"+reciever2;
    }
    else
    window.location.href="/";
    }



  </script>

</body>
</html>
