<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <style>
    body{
    font-family: 'Nunito';
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

#mario-chat{
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

#chat-window{
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

button{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}
    </style>
    <title>WebSockets 101</title>
  </head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <body>
    <p id='name'>Name:<%=name1%></p>
    <div id='user-window'>

    </div>
  <div id='mario-chat'>
    <div id='chat-window'>
      <div id='output'>  </div>
      <div id='feedback'>  </div>

    </div>
    <input type="text" id="handle" placeholder="enter handle" disabled value='<%= name1%>'>
    <input type="text" id="message" placeholder="enter message" value="">
    <button type="button" id="send" onclick='send()'>SEND</button>
  </div>

<script>

var socket=io.connect('http://localhost:3000/');
var handle=document.getElementById('handle');
var message=document.getElementById('message');
var output=document.getElementById('output');
var feedback=document.getElementById('feedback');
socket.emit('req',{
  name1:"<%=name1%>",
  name2:"<%=name2%>"
});
//message when send button is clicked
function send(){
socket.emit('chat',{
  message:message.value,
  handle:handle.value,  
  name:"<%=name2%>"
})
}
message.addEventListener('keypress',function(){
  socket.emit('typing',{value:handle.value,name:"<%=name2%>"});
});
socket.on('chat',(data)=>{
  feedback.innerHTML="";
  output.innerHTML+="<p><strong>"+data.handle+":</strong>"+data.message+"</p>";
});
//eventHandler for typing
socket.on('typing',(data)=>{
  console.log(data);
  feedback.innerHTML="<p><em>"+data+" is typing a message...</em></p>";
});
</script>
</body>
</html>
